{sub_dirs,
 [
  "etdd_yaws",
  "etdd_dig",
  "etdd_dlv",
  "dig_and_delve"
 ]}.

{deps, [
        {evfs, ".*", {git, "git://github.com/yrashk/evfs.git", head}},
        {yaws, ".*", {git, "git://github.com/klacke/yaws.git", {tag, "yaws-1.90"}}}
       ]}.

{erl_opts, [debug_info, warnings_as_errors]}.
