{sys,
 [
  {lib_dirs, [ "../deps", "../" ]},
  {rel, "dig_and_delve", "0.0.1",
   [
    kernel, stdlib, sasl, gs, appmon, dig_and_delve
   ]},
  {rel, "start_clean", "", [ kernel, stdlib ]},
  {boot_rel, "dig_and_delve"},
  {profile, embedded},
  {excl_sys_filters, ["^bin/.*",
                      "^erts.*/bin/(dialyzer|typer)"]},
  {excl_archive_filters, [".*"]},

  %% Artifact of having tsung installed in $ERL_TOP
  {app, tsung,            [{incl_cond, exclude}]},
  {app, tsung_recorder,   [{incl_cond, exclude}]},
  {app, tsung_controller, [{incl_cond, exclude}]},

  {app, dig_and_delve, [{incl_cond, include}]},

  {app, yaws,      [{incl_cond, include}]},
  {app, etdd_yaws, [{incl_cond, include}]},
  {app, etdd_dig,  [{incl_cond, include}]},
  {app, etdd_dlv,  [{incl_cond, include}]},
  {app, sasl,      [{incl_cond, include}]}
 ]}.

{target_dir, "dig_and_delve"}.

{overlay,
 [
  {mkdir, "log/sasl"},
  {copy, "files/erl", "{{erts_vsn}}/bin/erl"},
  {copy, "files/nodetool", "{{erts_vsn}}/bin/nodetool"},
  {copy, "files/dig_and_delve", "bin/dig_and_delve"},
  {copy, "files/app.config", "etc/app.config"},
  {copy, "files/vm.args", "etc/vm.args"}
 ]}.
